<a href="https://colab.research.google.com/github/ANNU12344/ANNU_2006038/blob/main/After_changing_the_datatypes_of_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Reading the csv file**

In [ ]:
import pandas as pd
data1=pd.read_csv("/content/drive/MyDrive/Task2/Task2_used_bikes (1).csv")
data1

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha

**Checking the datatypes of each column attributes**

In [ ]:
data_types_1 = data1.dtypes
print(data_types_1)

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

**Printing the last five column**

In [ ]:
data1.tail()

,bike_name,price,city,kms_driven,owner,age,power,brand
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha

**Checking the datatype of column age from float to int 32**

In [ ]:
data1['age'] = data1['age'].astype('int32')

In [ ]:
data_types_1 = data1.dtypes
print(data_types_1)

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age             int32
power         float64
brand          object
dtype: object

In [ ]:
power=data1['power']
power

0      110.0
1      350.0
2      675.0
3      180.0
4      150.0
       ...
144    350.0
145    125.0
146    150.0
147    150.0
148    150.0
Name: power, Length: 149, dtype: float64

In [ ]:
import numpy as np
max_value=data1['power'].max()
max_value

1299.0

In [ ]:
min_value=data1['power'].min()
min_value

100.0

**Checking the datatypes of columns power from float to int 32**

In [ ]:
data1['power'] = data1['power'].astype('int32')

In [ ]:
data_types_1 = data1.dtypes
print(data_types_1)

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age             int32
power           int32
brand          object
dtype: object

**Checking the unique value in column owner and I find there is only three unique value **

In [ ]:
unique_owner = data1['owner'].unique()
unique_owner

array(['First Owner', 'Second Owner', 'Third Owner'], dtype=object)

In given dataset column name owner have 3 unique value
"First Owner","Second Owner","Third Owner"
we can replace this with some interger value :
"First Owner" as 1
"Second Owner" as 2
"Third Owner" as 3

In [ ]:
replacements = {'First Owner': 1, 'Second Owner': 2, 'Third Owner': 3}

In [ ]:
data1['owner'] = data1['owner'].replace(replacements).astype('int')

In [ ]:
data1.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3,110,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4,350,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8,675,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3,150,Yamaha

In [ ]:
data1['owner'] = data1['owner'].astype('int8')

In [ ]:
data_types_1 = data1.dtypes
print(data_types_1)

bike_name      object
price         float64
city           object
kms_driven    float64
owner            int8
age             int32
power           int32
brand          object
dtype: object

**Change the datatypes of the column and check the memory usage before and after the change in the data types.**

In [ ]:
print("Memory usage after the change:")
print(data1.memory_usage(deep=True))

Memory usage after the change:
Index           128
bike_name     11954
price          1192
city           9546
kms_driven     1192
owner           149
age             596
power           596
brand          9517
dtype: int64

In [ ]:
print("Memory usage after the change:")
data1.memory_usage().sum()

Memory usage after the change:

7429