<a href="https://colab.research.google.com/github/ANNU12344/ANNU_2006038/blob/main/neenOpal_task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

**Reading the data1 file**

In [3]:
data1=pd.read_csv("/content/drive/MyDrive/Task1/data1.csv")
data1

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075    3
1     CA-2014-100090  FUR-TA-10003715    3
2     CA-2014-100090  OFF-BI-10001597    6
3     CA-2014-100293  OFF-PA-10000176    6
4     CA-2014-100328  OFF-BI-10000343    1
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100    3
9474  US-2017-169551  OFF-ST-10004835    3
9475  US-2017-169551  TEC-AC-10002018    3
9476  US-2017-169551  TEC-AC-10003033    2
9477  US-2017-169551  TEC-PH-10001363    2

[9478 rows x 3 columns]

**Reading the data2 file**

In [4]:
data2=pd.read_csv("/content/drive/MyDrive/Task1/data2.csv")
data2

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
9474  US-2017-169551  OFF-PA-10004100    3
9475  US-2017-169551  OFF-ST-10004835    3
9476  US-2017-169551  TEC-AC-10002018    3
9477  US-2017-169551  TEC-AC-10003033    2
9478  US-2017-169551  TEC-PH-10001363    2

[9479 rows x 3 columns]

** Identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)**

In [5]:
merged_data = pd.merge(data1, data2, on=['Order ID', 'Product ID'], how='left', indicator=True)

# Filter out the rows where the '_merge' column indicates left-only (missing in data2)
missing_records = merged_data[merged_data['_merge'] == 'left_only']

# Extract the missing records as a new DataFrame
missing_records = missing_records.drop(columns=['_merge'])

# Output the missing records
print(missing_records)

            Order ID       Product ID  Qty_x  Qty_y
0     CA-2014-100006  TEC-PH-10002075      3    NaN
10    CA-2014-100678  OFF-EN-10000056      3    NaN
19    CA-2014-100895  OFF-AR-10004511      2    NaN
35    CA-2014-101560  OFF-BI-10000309      3    NaN
61    CA-2014-102673  OFF-LA-10001771     12    NaN
...              ...              ...    ...    ...
9390  US-2017-160836  OFF-AP-10001626      2    NaN
9403  US-2017-162558  FUR-FU-10002364      2    NaN
9420  US-2017-163657  OFF-BI-10000138      5    NaN
9427  US-2017-164056  FUR-TA-10001307      5    NaN
9435  US-2017-165456  FUR-CH-10003981      6    NaN

[507 rows x 4 columns]

In [6]:
missing_records.to_csv('task1_a.csv')

In [7]:
task1_count=pd.read_csv("/content/task1_a.csv")
total_rows = len(task1_count)
total_rows

507

In [8]:
datatypes1 = data1.dtypes
datatypes1

Order ID      object
Product ID    object
Qty            int64
dtype: object

In [9]:
value_to_check=("CA-2014-100006","TEC-PH-10002075")
combination_exists1 = (data2['Order ID'] == value_to_check[0]) & (data2['Product ID'] == value_to_check[1])

In [10]:
if combination_exists1.any():
    print("Combination exists in the dataset 2.")
else:
    print("Combination does not exist in the dataset 2")

Combination does not exist in the dataset 2

In [11]:
value_to_check=("CA-2014-100678","OFF-EN-10000056")
combination_exists2 = (data2['Order ID'] == value_to_check[0]) & (data2['Product ID'] == value_to_check[1])

In [12]:
if combination_exists2.any():
    print("Combination exists in the dataset 2.")
else:
    print("Combination does not exist in the dataset 2")

Combination does not exist in the dataset 2

In [13]:
value_to_check=("CA-2014-100678","OFF-EN-10000056")
combination_exists3 = (data1['Order ID'] == value_to_check[0]) & (data1['Product ID'] == value_to_check[1])

In [14]:
if combination_exists3.any():
    print("Combination exists in the dataset 1.")
else:
    print("Combination does not exist in the dataset 1")

Combination exists in the dataset 1.

task1_b part

**How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer) **

In [15]:
merged_data2= pd.merge(data1, data2, on=['Order ID', 'Product ID'], how='right', indicator=True)

# Filter out the rows where the '_merge' column indicates right-only (missing in data1)
missing_records2 = merged_data2[merged_data2['_merge'] == 'right_only']

# Get the number of missing records
num_missing_records = missing_records2.shape[0]

# Output the missing records and the number of missing records
print("Missing Records2:")
print(missing_records2)
print("Number of Missing Records:", num_missing_records)

Missing Records2:
            Order ID       Product ID  Qty_x  Qty_y      _merge
11    CA-2014-100706  TEC-AC-10001314    NaN      2  right_only
14    CA-2014-100762  OFF-PA-10001815    NaN      3  right_only
30    CA-2014-101427  OFF-AR-10002257    NaN      3  right_only
56    CA-2014-102652  FUR-FU-10001918    NaN      7  right_only
63    CA-2014-102869  OFF-PA-10000788    NaN      3  right_only
...              ...              ...    ...    ...         ...
9428  US-2017-165344  OFF-BI-10003196    NaN     10  right_only
9433  US-2017-165358  TEC-CO-10001943    NaN      5  right_only
9455  US-2017-167920  OFF-AP-10000159    NaN      5  right_only
9471  US-2017-169502  OFF-AP-10001947    NaN      5  right_only
9473  US-2017-169551  FUR-BO-10001519    NaN      3  right_only

[508 rows x 5 columns]
Number of Missing Records: 508

In [16]:
missing_records2.to_csv('task1_b.csv')
dataset=pd.read_csv("/content/task1_b.csv")
dataset

     Unnamed: 0        Order ID       Product ID  Qty_x  Qty_y      _merge
0            11  CA-2014-100706  TEC-AC-10001314    NaN      2  right_only
1            14  CA-2014-100762  OFF-PA-10001815    NaN      3  right_only
2            30  CA-2014-101427  OFF-AR-10002257    NaN      3  right_only
3            56  CA-2014-102652  FUR-FU-10001918    NaN      7  right_only
4            63  CA-2014-102869  OFF-PA-10000788    NaN      3  right_only
..          ...             ...              ...    ...    ...         ...
503        9428  US-2017-165344  OFF-BI-10003196    NaN     10  right_only
504        9433  US-2017-165358  TEC-CO-10001943    NaN      5  right_only
505        9455  US-2017-167920  OFF-AP-10000159    NaN      5  right_only
506        9471  US-2017-169502  OFF-AP-10001947    NaN      5  right_only
507        9473  US-2017-169551  FUR-BO-10001519    NaN      3  right_only

[508 rows x 6 columns]

In [17]:
print(missing_records2['Qty_y'].sum())

1956

**Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2**

In [ ]:
combined_data = pd.concat([data1, data2], ignore_index=True)

# Find the total number of unique records (Order ID + Product ID combination)
total_unique_records = combined_data.drop_duplicates(subset=['Order ID', 'Product ID']).shape[0]

# Output the total number of unique records
print("Total number of unique records:", total_unique_records)

Total number of unique records: 9986

In [18]:
combined_xy = pd.concat([missing_records, missing_records2])
print(combined_xy)

            Order ID       Product ID  Qty_x  Qty_y      _merge
0     CA-2014-100006  TEC-PH-10002075    3.0    NaN         NaN
10    CA-2014-100678  OFF-EN-10000056    3.0    NaN         NaN
19    CA-2014-100895  OFF-AR-10004511    2.0    NaN         NaN
35    CA-2014-101560  OFF-BI-10000309    3.0    NaN         NaN
61    CA-2014-102673  OFF-LA-10001771   12.0    NaN         NaN
...              ...              ...    ...    ...         ...
9428  US-2017-165344  OFF-BI-10003196    NaN   10.0  right_only
9433  US-2017-165358  TEC-CO-10001943    NaN    5.0  right_only
9455  US-2017-167920  OFF-AP-10000159    NaN    5.0  right_only
9471  US-2017-169502  OFF-AP-10001947    NaN    5.0  right_only
9473  US-2017-169551  FUR-BO-10001519    NaN    3.0  right_only

[1015 rows x 5 columns]